
/* Colors defined by Catppuccin */
@import "frappe.css";

/* My colors */
@define-color pureblack #000000;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrainsMono Nerd Font;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
}

window#waybar {
    /* Full transparent background  */
    background-color: alpha(@base, 0.0);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    border-bottom: 0px alpha(@base, 0.0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    /* background-color: transparent; */
    background-color: alpha(@lavender, 0.2);
    color: @pureblack;
    margin-left: 5;
}

#workspaces button:hover {
    background: @blue;
}

#workspaces button.focused {
    background-color: @blue;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* Mark the current workspace in other color! */
#workspaces button.active {
    background-color: alpha(@lavender, 1.0);
}

#workspaces button.urgent {
    background-color: @red;
}

#workspaces button.current_output.visible {
    background: alpha(@red, 0.8);
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
    background-color: alpha(@blue, 0.0);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @sky;
    color: @pureblack;
    border-radius: 25px;
}

#battery {
    background-color: @teal;
    color: @pureblack;
    border-radius: 25px;
}

#battery.charged {
    background-color: @teal;
    color: @pureblack;
    border-radius: 25px;
}


#battery.charging, #battery.plugged {
    color: @pureblack;
    background-color: @teal;
    border-radius: 25px;
}

@keyframes blink {
    to {
        background-color: @red;
        color: @text;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @pureblack;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @peach;
    color: @pureblack;
    border-radius: 25px;
}

#memory {
    background-color: @sky;
    color: @pureblack;
    border-radius: 25px;
}

#disk {
    background-color: @yellow;
    color: @pureblack;
    border-radius: 25px;
}

#backlight {
    background-color: #90b1b1;
    border-radius: 25px;
}

#network {
    background-color: @lavender;
    color: @pureblack;
    border-radius: 25px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: @blue;
    color: @pureblack;
    border-radius: 25px;
}

#pulseaudio.muted {
    background-color: @red;
    color: @pureblack;
    border-radius: 25px;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
    border-radius: 25px;
}

#wireplumber.muted {
    background-color: #f53c3c;
    border-radius: 25px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @flamingo;
    color: @pureblack;
    border-radius: 25px;
}

#temperature.critical {
    background-color: @red;
    border-radius: 25px;
}

#tray {
    background-color: @blue;
    border-radius: 25px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
    border-radius: 25px;
}

#keyboard-state {
    background: @flamingo;
    color: @pureblack;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
    border-radius: 25px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-osicon {
    background-color: @blue;
    border-radius: 25px;
}

#submap {
    background-color: @red;
    border-radius: 25px;

}
