# Launchs battery script every 3 minutes

[Unit]
Description=Check on battery every minute to warn the user in case of low battery

[Timer]
OnActiveSec=3m
OnUnitActiveSec=3m

[Install]
WantedBy=timers.target
