/config_files/.config/nvim/plugin/packer_compiled.lua
/config_files/.config/ranger/bookmarks
/config_files/.config/ranger/history
/config_files/.config/ranger/plugins/
/config_files/.config/nvim/.netrwhist
/config_files/.config/nvim/spell/es.utf-8.add
/config_files/.config/nvim/spell/es.utf-8.add.spl
/config_files/.config/nvim/.netrwhist
/config_files/.config/awesome/awesome-capslock_widget
/config_files/.config/awesome/awesome-wm-widgets
/config_files/.config/awesome/sharedtags
/config_files/.bash_history
/config_files/.zsh_history
/config_files/.config/nvim/spell/es.utf-8.add
/config_files/.config/nvim/spell/es.utf-8.add.spl
/config_files/.config/nvim/spell/es.utf-8.add
/config_files/.config/nvim/spell/es.utf-8.add.spl
