// Layout to launch ranger with one command

layout {

    // Default tab template
    // All tabs defined in this layout are going to use this template, unless
    // we explicit use other template
    // Moreover, tabs created by the user with commands are going to use this
    // template
    default_tab_template {

        // Default zellij tab bar
        pane size=1 borderless=true {
            // plugin location="zellij:tab-bar"
            plugin location="zellij:compact-bar"
        }

        children
    }

    tab name="ranger" {
        pane {
            command "ranger"
        }
    }
}
